<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-lg-3">
        <app-interface name="rest"></app-interface>
      </div>
      <div class="col-lg-3">
        <app-service name="auth"><spring-boot></spring-boot></app-service>
      </div>
      <div class="col-lg-3">
        <app-service name="fraud">xxxxxxxxxxxxx</app-service>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
        <app-service name="payment engine"></app-service>
      </div>
      <div class="col-lg-3">
        <app-interface name="cartridges"></app-interface>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-interface name="web"></app-interface>
      </div>
      <div class="col-lg-3">
        <app-service name="paycentre"></app-service>
      </div>
      <div class="col-lg-3">
        <app-service name="vault"></app-service>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</div>
